  <div class="row">
    <div class="col-md-10">
      <div ng-hide="hideWarning">
        <h1>Please allow usage of the camera and micro on top of window...</h1>
        <img src="images/webrtc-warning.png">
      </div>
      <div id="videos"></div>
    </div>
    <div class="col-md-2" id="right-column">
      <div class="row">
        <div class="col-md-12">
          <video id="selfVideo" autoplay></video>
          <button class="btn btn-primary" ng-click="quit()">Quit</button>
        </div>
        <div class="messages col-md-12" ng-controller="MessagesCtrl">
          <div ng-repeat="message in messages">
            <span class="peer">{{message.author}}</span>: <span class="message">{{message.body}}</span>
          </div>
          <form ng-submit="send()">
            <input id="inputMessage" ng-model="newMessage.body"></input>
            <!--button class="btn btn-primary" ng-click="send()">Send</button-->
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
          </form>
        </div>
      </div>
    </div>
  </div>
