  <div class="row">
    <div class="col-md-10">
      <div id="videos"></div>
    </div>
    <div class="col-md-2" id="right-column">
      <div class="row">
        <div class="col-md-12">
          <video id="selfVideo" autoplay></video>
          <button class="btn btn-primary" ng-click="quit()">Quit</button>
        </div>
        <div class="messages col-md-12" ng-controller="MessagesCtrl">
          <div ng-repeat="message in messages">
            <span class="peer">{{message.author}}</span>: <span class="message">{{message.body}}</span>
          </div>
          <input id="inputMessage" ng-model="newMessage.body"></input>
        </div>
      </div>
    </div>
  </div>
