  <div class="row-fluid">
    <div class="span10">
      <div id="videos"></div>
    </div>
    <div class="span2" id="right-column">
      <div class="row-fluid">
        <div class="span12">
          <video id="selfVideo" autoplay></video>
        </div>
        <div class="messages span12" ng-controller="MessagesCtrl">
          <div ng-repeat="message in messages">
            <span class="peer">{{message.author}}</span>: <span class="message">{{message.body}}</span>
          </div>
          <input id="inputMessage" ng-model="newMessage.body"></input>
        </div>
      </div>
    </div>
  </div>
